@{
    ViewBag.Title = "About";
}

<body id="aboutus">
    <div class="container">
    <div class="jumbotron-footer">
        <div class="row">
            <div class="col-lg-4">
                <h1><span style="color: saddlebrown">We do what </span><span style="color: deeppink">we love!</span></h1>
                <br>
                <br>
                    <p class="first">
                        <strong><span style="color: deeppink">BACI DOLCI</span><span style="color: saddlebrown"> Italian Handmade Tradition Desserts</span></strong> is a Bulgarian company producing fresh chocolate products and confectionery, with a 5 years' successful
                        presence in the Bulgarian market.
                    </p>
                    <p class="first">Our philosophy remains the same since our first steps back in 2012 till now: We love what we do!</p>
                    <p class="first">
                        Our product range and our innovative, unique and delicious delicacies make us a “Leader Concept” in the
                        “Chocolate Pastry Market”.
                    </p>
                <p class="first">
                    Above all, the production of handmade fresh chocolate products and delicacies in front of our customers’
                    eyes or of people who cross the streets outside our candy stores are the elements that made Baci
                    Dolci equal to enjoyment and high quality.
                </p>
            </div>
        </div>
    </div>
        </div>
</body>

