@{
    ViewBag.Title = "Contact";
}

<div class="jumbotron">
    <div class="container">
        <div class="row">

            <div class="col-md-8">
                <h2 style="color: palevioletred" , align="center">Find us on Google Maps</h2>
                <br />
                <div class="mapouter">
                    <div class="gmap_canvas">
                        <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=бул.„Прага“ 24, Sofia, България, &t=&z=14&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>wordpress themes by <a href="https://wpicus.com">wpicus</a>
                    </div>
                    <style>
                        .mapouter {
                            overflow: hidden;
                            height: 500px;
                            width: 660px;
                        }

                        .gmap_canvas {
                            background: none !important;
                            height: 500px;
                            width: 660px;
                        }
                    </style>
                </div>
            </div>


            <div class="col-md-4" style="text-align: left">
                <br /><br /><br /><br />
                <h3>Sweet Shop - Baci Dolci Desserts</h3>
                <br />
                <address>
                    <strong>Address:</strong> <br />
                    24 Prague blvd., 1606 Sofia, Bulgaria
                    <br/>
                    <br/>
                    <abbr title="Phone"><strong>Tel: </strong> +359 877 517 037</abbr><br/>
                    <abbr title="Phone"><strong>Fax: </strong> +359 2 88 40 522</abbr><br/><br/>

                    <strong>Email: </strong> info@bacidolci.eu <br/><br/>
                    <strong>Working time: </strong><br />
                    Monday-Sunday: 07:30h - 20:30h

                </address>

            </div>
        </div>
    </div>
</div>
