@model BaciDolci.Models.ViewModels.Product.ProductViewModel

@{
    int counter = 1;
}

@if (counter % 3 == 0)
{
    <div class="row">
        <div class="col-lg-4">

            <figure class="product-category">
                <a href="/Product/DetailProduct/@Html.DisplayFor(vms=> vms.Id)">
                    <img src="@Html.DisplayFor(vms=> vms.Image)" alt="cakes" width="300" height="250" />
                </a>

                <a href="/Product/DetailProduct/@Html.DisplayFor(vms => vms.Id)">
                    <figcaption>@Html.DisplayFor(vms => vms.Name)</figcaption>
                </a>

            </figure>

        </div>
        <br />
    </div>

    counter++;
}
else
{
    <div class="col-lg-4">
        <figure class="product-category">
            <a href="/Product/DetailProduct/@Html.DisplayFor(vms => vms.Id)">
                <img src="@Html.DisplayFor(vms => vms.Image)" alt="cakes" width="300" height="250" />
            </a>
            <a href="/Product/DetailProduct/@Html.DisplayFor(vms => vms.Id)">
                <figcaption>@Html.DisplayFor(vms => vms.Name)</figcaption>
            </a>
        </figure>
        
        <br />
    </div>
    counter++;
}


