<div style="text-align: center">
    <a href="/Admin/Admin/EditProduct/@Model.Id">
        <input type="submit" id="btn-edit-product" class="btn btn-info btn-lg" value="Edit Product" />
    </a>
    <a href="/Admin/Admin/DeleteProduct/@Model.Id">
        <input type="submit" id="btn-delete-product" class="btn btn-danger btn-lg" value="Delete Product" />
    </a>
</div>
