<div style="text-align: center">
    <a href="/Admin/Admin/EditCategory/@Model.Id">
        <input type="submit" id="btn-edit-category" class="btn btn-info btn-lg" value="Edit Category" />
    </a>
    <a href="/Admin/Admin/DeleteCategory/@Model.Id">
        <input type="submit" id="btn-delete-category" class="btn btn-danger btn-lg" value="Delete Category" />
    </a>
</div>
